# Some Generic Folders and Files
*~
*.swp
*.pyc
/.config*
/build
/.sconsign.dblite
/documentation/markdown/output

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*
*.dylib

# Mac
.DS_Store
.idea
CMakeLists.txt

# Kernel
source/kernel/src/version.rs
